@model IEnumerable<BeutyWebModelFirst.Models.Bank>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

    <h3>Banka Kartı Tablosu</h3>

<p>
    @Html.ActionLink("Create New", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IBAN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IBAN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BankId }, new { @class = "btn btn-success" })
            @Html.ActionLink("Delete", "Delete", new { id = item.BankId }, new { @class = "btn btn-success" })
        </td>
    </tr>
}

</table>
