@model IEnumerable<BeutyWebModelFirst.Models.Company>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

    <h3>Şirket Bilgileri Tablosu</h3>

<p>
    @Html.ActionLink("Create New", "New")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager.ManagerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager.ManagerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CompanyId }, new { @class = "btn btn-success" })
            @Html.ActionLink("Delete", "Delete", new { id = item.CompanyId }, new { @class = "btn btn-success" })
        </td>
    </tr>
}

</table>
